:root {
    --primary-color: #0a112f;
    --white-color: #fff;
    --gray-color: #474646;
    --gap: 3rem;
}

/* Elementos HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    color: var(--primary-color);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5rem;
    text-transform: capitalize;
}

h4 {
    font-size: 4.5rem;
    text-transform: capitalize;
}

h5 {
    font-size: 4rem;
    text-transform: capitalize;
}

h6 {
    font-size: 3.5rem;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: var(--gap);
}

/* Classe */
.main_bg_sec {
    background-image: url('img/Bg_portfilio-cinza.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white_bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.content,
.content-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 var(--gap)
}

.main-content img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    list-style: none;
    border-radius: 200px;
}
.main-content img:hover{
    transition: all 300ms ease-in-out;
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.main-content li{
        background: rgba(245, 242, 242, 0);
        color: #f8f3f3;
        text-decoration: none;
        font-weight: bold;
        border-width: 2px;
        border-style: solid;
        border-top-color: rgba(211, 57, 222, 0);
        border-right-color: rgba(174, 39, 174, 0);
        border-bottom-color: rgba(118, 42, 118, 0);
        border-left-color: rgba(210, 21, 210, 0);
        border-radius: 10px;
        margin: 5px;
       
       
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}


/* sessão da grid = Top 3 */

.grid-content {
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-spacing-head {
    padding-bottom: 2rem;
}

.grid-spacing {
    padding-bottom: 5rem;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    top: -4rem;
    left: -2rem;
    font-size: 8rem;
    transform: rotate(5deg);
    font-style: italic;
}

/* Estilos para a seção */
.flex-container {
    display: flex;
}

.left-text, .right-text {
    flex: 1;
}

/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .left-text, .right-text {
        width: auto;
    }
}



/* Sessão da galeria de fotos */


/* Estilos para a galeria de fotos */
.gallery {
    margin-top: 20px;
}

.gallery h2 {
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-container img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}

/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
    .gallery-container img {
        width: 100%;
        height: auto;
    }
}

/* Sessão da galeria de fotos */
/* Sessão da galeria de fotos */
.gallery-img {
    width: 100%;
    max-width: 100rem;
    max-height: 100rem;
    overflow: hidden;
}

/* Remova a propriedade que arredonda as bordas */
.gallery-img img {
    transition: all 300ms ease-in-out;
    border-radius: 0; /* Remova esta linha para bordas retas */
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}


/* Menu do meu site */
.menu {
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--gray-color);
    z-index: 99;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.menu h1 {
    font-size: 3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    padding: 2rem;
    display: block;
    font-size: 1.5rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    background: #0a112f;
    width: 0;
    bottom: 0.5rem;
    left: 50%;
    min-height: 0.2rem;
    transition: all 300ms ease-in-out
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    min-height: 6.1rem;
}

/* intro */
.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    position: relative;
    min-height: 100vh;
    gap: var(--gap);
    top: 3rem;
    list-style: none;
}

.content h2 {
    margin-bottom: 5rem;
    line-height: 1.2;
}

.content-img img {
    min-height: auto;
    max-width: 100%;
}

.intro {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.intro .main-content {
    max-width: 64rem;
    text-align: center;   
}


/* Footer */
.footer {
    background-color: #0f1b4d;
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: var(--white-color);
}

.footer p {
    margin: 0;
    padding: var(--gap);
}

.heart {
    color: red;
}

/* Contatos */

.contact-container {
    display: grid;
    place-items: center;
    min-height: 100vh; /* adjust to your preference */
}
  
.contact-content {
  width: 50%; /* adjust to your preference */
}


/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}


/* pop up de aviso*/



.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}